.footer {
  font-size: 0.9rem;
  color: #303f9f;

  ::placeholder {
    color: #303f9f;
    text-transform: capitalize;
  }

  h3 {
    margin-bottom: 0.3rem;
  }

  .center {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (hover: hover) {
    a:hover {
      color: rgb(48, 63, 199);
    }
  }

  a:focus {
    outline: none;
    color: rgb(48, 63, 199);
    // padding: 0.2rem 0.8rem;
  }
}

// quick links
.quick-links {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  a {
    text-transform: capitalize;
    color: #303f9f;
  }
}

// socials
.socials-list {
  gap: 1rem;

  li {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #303f9f;
    display: grid;
    place-content: center;
    transition: all 0.25s ea;

    a {
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 1rem;

      &:focus {
        color: #ff7d05;
      }

      @media (hover: hover) {
        &:hover {
          color: #ff7d05;
        }
      }
    }
  }
}

// socials & news letter
.socials--newsletter {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .form {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input,
    button {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      border-radius: 4px;
    }

    input {
      border: 1px solid #303f9f;

      &:focus {
        outline: 1px solid #303f9f;
      }
    }

    button {
      background-color: #303f9f;
      padding: 0.6rem 1rem;
      color: #fff;
      text-transform: capitalize;
      cursor: pointer;

      &:focus {
        outline: 1px solid #303f9f;
        outline-offset: 2px;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      align-items: flex-end;
      gap: 2rem;
    }

    p {
      text-align: right;
    }
  }
}

.attribution {
  text-align: center;
  padding: 2rem 0;
}
