.footer {
  font-size: 0.9rem;

  .center {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;

    @media (max-width: 50em) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  h3 {
    margin-bottom: 0.5rem;
    color: #303f9f;
  }

  p {
    color: #303f9f;
  }

  .socials--newsletter {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    @media (min-width: 50em) {
      & {
        align-items: flex-end;
        gap: 2rem;
      }

      p {
        text-align: right;
      }
    }
  }

  .quick-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    a {
      text-transform: capitalize;
      // color: #303f9f;
    }
  }

  .socials-list {
    gap: 1rem;

    li {
      width: 2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #303f9f;
      display: grid;
      place-content: center;
      transition: all 0.25s ea;

      &:hover {
        background-color: hsl(232, 54%, 31%);
      }

      a {
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1rem;
      }
    }
  }

  .form {
    margin-top: 0.5rem;
    // min-width: 300px;
    // display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    // display: none;

    ::placeholder {
      text-transform: capitalize;
    }

    input,
    button {
      padding: 0.6rem 0;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      border-radius: 4px;
    }

    input {
      // flex: 1;
      border: 1px solid #303f9f;

      &:focus {
        outline: 1px solid #303f9f;
      }
    }

    button {
      background-color: #303f9f;
      padding: 0.6rem 1rem;
      color: #fff;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  .attribution {
    text-align: center;
  }
}
