.footer {
  display: none;
  .center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 3px solid green;

    @media (max-width: 40em) {
      flex-direction: column;
    }
  }

  .quick-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .socials-list {
    gap: 1rem;
    justify-content: space-center;
  }

  h3 {
    // text-transform: capitalize;
    margin-bottom: 0.5rem;
  }
}
