.center {
  width: min(90%, 1200px);
  margin: 0 auto;
}

section {
  padding: 3rem 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
}
