.home-page {
  background-color: #303f9f;
  text-align: center;
  color: #fff;

  .image-design {
    margin-top: 2rem;

    img {
      max-height: 600px;
    }
  }

  .lead {
    line-height: 1.4;
    letter-spacing: 0.2rem;
  }

  .lead,
  .intro-text {
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: 32em) {
      max-width: 500px;
    }
  }

  .intro-text {
    margin-block: 1rem;
  }
}
