.our-projects {
  background-color: #303f9f;
  color: #fff;
  text-align: center;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .projects {
    display: grid;
    gap: 1rem;

    @media (min-width: 768px) {
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
        "p1 p1 p2 ."
        ".  p3 p4 p4";

      & .p1 {
        grid-area: p1;
      }

      & .p2 {
        grid-area: p2;
      }

      & .p3 {
        grid-area: p3;
      }

      & .p4 {
        grid-area: p4;
      }
    }
  }
}
