.services {
  .categories {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    column-count: 2;

    @media (max-width: 50em) {
      display: flex;
      flex-direction: column;
    }

    li {
      text-transform: capitalize;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin: 0.4rem 0;
    }

    .bullet {
      display: inline-block;
      width: 1rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #3342a0;
    }
  }
}
